/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Container centrato */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card login */
.login-form {
  background: white;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

/* Titolo */
.login-title {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Input */
.login-input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.login-input:focus {
  border-color: #16a34a;
  outline: none;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
}

/* Bottone */
.login-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #16a34a;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

.login-button:hover {
  background: #15803d;
  transform: translateY(-2px);
}

/* Testo */
.login-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

/* Link */
.login-link {
  color: #16a34a;
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}
